.App {
  max-width: 1500px;
  margin: auto;
}

main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: #b0b1c4;
  --secondary: #F3A847;
  --tertiary: #fce2bf;
  --light: #fffdf3;
  --dark: #07184B;
  --darker: #111111;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

.font-small {
  font-size: 15px;
}


* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--light);
  color: var(--dark);
  font-family: 'Poiret One', cursive;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Square Peg', cursive;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

.myName a:hover {
  text-decoration: none;
  color: var(--dark);
}

header {
  background: var(--light);
}

header a {
  color: var(--dark);
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}


input {
  font-size: 1.25rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
  width: 300px;
  font-weight: bold;
}

::placeholder {
  font-weight: normal;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

li {
  list-style: none;
}

.list-style-on {
  list-style:circle
}

nav a:hover {
  text-decoration: none;
}

nav  li {
  cursor: pointer;
}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 25%;
  text-align: center;
}

.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}

.modalBackdrop {
	background: rgba(0, 0, 0, .65);
	bottom: 0;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

.modalContainer {
	background: var(--darker);
	border-radius: 5px;
	max-width: 100%;
	margin: 50px auto;
	padding: 15px;
	width: 960px;
}

.modalTitle {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 25px;
}

button {
	background: var(--primary);
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;	
}

a {
	border-radius: 5px;
	color: var(--primary);
	font-weight: 600;
}

.nav-bar {
  padding: 0 !important;
}

.navActive a {
  color: var(--secondary);
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

.navLi-sm {
  display: none;
}

.nav-ul {
  padding: 0 !important;
  font-family: 'Square Peg', cursive;
  font-size: larger;
}

.nav-ul li a {
  padding-top: 15px;
  position: relative;
  transition: all 0.5s;
}

.nav-ul li a:hover {
  color: var(--primary);
  font-size: 1.2rem;
}

.navLi {
  padding:0 !important;
  display: flex;
  justify-content: center;
}

.myName {
  font-family: 'Square Peg', cursive;
}
.app-box {
  position: relative;
}
.app-text {
  width: 500px;
  padding: 10px;
  background-image: linear-gradient(to left, var(--tertiary), var(--light) );
  border-radius: 2rem;
  position: absolute;
  top: 200px;
  left: 0px;
  transition: ease all .5s;
}

.app-image-container {
  overflow: hidden;  
}

.app-image{
  float: right;
  width: 1000px;
  height: 100%;  
  transform-origin: 65% 75%;
  transition: transform 1s, filter .5s ease-out;
  filter: grayscale(100%);
    
}

.app-image:hover{
  transform: scale(1.02);
  filter: grayscale(0);
}

.app-text-right {
  width: 500px;
  padding: 10px;
  background-image: linear-gradient(to right, var(--tertiary), var(--light) );
  border-radius: 2rem;
  position: absolute;
  top: 150px;
  right: 0;
  transition: ease all .5s;
}

.app-image-right{
  float: left;
  width: 1000px;
  height: 100%;  
  transform-origin: 65% 75%;
  transition: transform 1s, filter .5s ease-out;
  filter: grayscale(100%);
    
}

.app-image-right:hover{
  transform: scale(1.02);
  filter: grayscale(0);
}

.card {
  width: auto !important;
}

.app-grid {
  background-image: linear-gradient( var(--light), var(--tertiary));
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

@media only screen and (max-width: 576px) {
  .navLi {
    display: none;
  }
  .navLi-sm {
    display: flex;
    justify-content: center;
  }

  // let navLi-sm to be centered

}

@media only screen and (max-width: 768px) {
  .myName {
    width: fit-content;
    margin: auto !important;
  }
  
  .font-small {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1100px) {
  .app-text {
    width: 100%;
    padding: 10px;
    background-image: linear-gradient(var(--light), var(--primary) );
    border-radius: 0rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    position: relative;
    top: 0px;
    left: 0px;
    transition: ease all .5s;

  }

  .app-text-right {
    width: 100%;
    padding: 10px;
    background-image: linear-gradient(var(--light), var(--primary) );
    border-radius: 0rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    position: relative;
    top: 0px;
    left: 0px;
    transition: ease all .5s;

  }

  .app-grid {
    background-image: linear-gradient(var(--light), var(--primary) );
  }
}